.home {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  ), url("../../assets/bg3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
