.home {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  ), url("../../assets/bg3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.inputs {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.inputs > form {
  display: flex;
  flex-direction: column;
}

.inputs > form > p {
  font-style: italic;
}

.outputs {
  display: flex;
  margin: auto;
  background-color: #fff;
  width: 45%;
  margin-top: 30px;
  padding: 25px;
  flex-direction: column;
  border-radius: 20px;
}

.outputs > pre {
  font-style: italic;
  padding: 0;
  margin: 0;
}

.outputs > p {
  border: 1px solid rgb(221, 97, 8);
  padding: 5px;
  border-radius: 5px;
}

.outputs > button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: brown;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  /* margin: 15px 0; */
}

.outputs > button:hover {
  color: brown;
  background-color: #fff;
  border: 1px solid brown;
  transition: .75s;
}