.home {
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3)
  ), url("../../assets/bg3.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.inputs {
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.inputs > form {
  display: flex;
  flex-direction: column;
}

.inputs > form > p {
  font-style: italic;
}

.outputs {
  display: flex;
  margin: auto;
  background-color: #fff;
  width: 45%;
  margin-top: 30px;
  padding: 25px;
  flex-direction: column;
  border-radius: 20px;
}